# DEDHAND by lol1999lol — https://github.com/lol1999lol/dedhand
#
# DEDHAND_HOME=/var/lib/dedhand
# DEDHAND_LANG=en
# DEDHAND_DEBUG=1
# DEDHAND_NAME=lol1999lol
# DEDHAND_PASS=
# DEDHAND_HOURS=24
# DEDHAND_TG_TOKEN=
# DEDHAND_TG_CHAT=
